<div class="bg-gray-100 p-6 rounded-lg shadow-md mb-4 max-w-md mx-auto">
  <table class="w-full text-lg text-gray-700">
    <tbody>
    <tr>
      <td class="py-2">Hello from</td>
      <td class="py-2">
        <span class="font-extrabold text-indigo-600">CHILD TWO</span>
      </td>
    </tr>
    <tr>
      <td class="py-2">Country</td>
      <td class="py-2">
        <span class="font-extrabold text-indigo-600">{{ country }}</span>
      </td>
    </tr>
    <tr>
      <td class="py-2">Amount</td>
      <td class="py-2">
        <span class="font-extrabold text-indigo-600">{{ amount }}</span>
      </td>
    </tr>
    <tr>
      <td class="py-2">Is Eligible</td>
      <td class="py-2">
        <span class="text-indigo-600 ">{{ isEligible }}</span>
      </td>
    </tr>
    <tr>
      <td class="py-2">Can Deliver Speech</td>
      <td class="py-2">
          <span class="font-extrabold text-indigo-600">
            {{ canDeliverSpeach }}
          </span>
      </td>
    </tr>
    <tr>
      <td class="py-2">Can Fly</td>
      <td class="py-2">
        <span class="font-extrabold text-indigo-600">{{ canFly }}</span>
      </td>
    </tr>
    <tr>
      <td class="py-2">Can Swim</td>
      <td class="py-2">
        <span class="font-extrabold text-indigo-600">{{ canSwim }}</span>
      </td>
    </tr>
    <tr>
      <td class="py-2">Character Height</td>
      <td class="py-2">
          <span class="font-extrabold text-indigo-600">
            {{ characterHeight }}
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
